extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Chris Watnee

        p Full Stack Software Engineer


        .about-bio

          p As a full stack developer, I build scalable web applications using React, Node.js, and Express. My project-based experience ranges from responsive front end interfaces to secure, RESTful APIs. I prioritize clean, maintainable code to ensure high technical standards and long-term scalability. I am ready to leverage my technical skills to deliver high-quality, user-centric results.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML5
          li CSS
          li Responsive Design
          li Full Stack JavaScript (ES6+)
          li React
          li Node.js
          li Express
          li RESTful API Development
          li SQL
          li Asynchronous Programming (AJAX/Fetch)
          li Object-Oriented Programming (OOP)
          li Version Control (Git/GitHub)
          li Web Accessibility (A11y) standards

        h6 Contact Info

        ul
          li 703-555-1234
          li chris.watnee@email.com

        a.btn-link(href='https://www.linkedin.com/in/chriswatnee') LinkedIn
        a.btn-link(href='https://github.com/chriswatnee') GitHub
        a.btn-link(href='https://x.com/chriswatnee') X

    nav.nav
      a(href='/')
        span &larr;
        |  Back