extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Welcome to my portfolio, which showcases a diverse range of full stack JavaScript applications built with modern web technologies. This collection demonstrates my ability to build complete web applications, ranging from interactive user interfaces to the underlying server-side logic. Feel free to explore my featured projects and connect with me to discuss potential collaborations.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name

